<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datetimepicker.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>

    <style type="text/css">
      input[type="text"],
      input[type="datetime"] {
        margin-bottom: 0px;
      }

      .affixList {
        top: 10px;
        width: 100px;
      }

      .page-header {
        padding-bottom: 0px;
        margin: 20px 0 20px;
        border-top: 1px solid #eee;
        border-bottom: 0px solid #eee;
      }

    </style>
  </head>

  <body ng-app>
    <div class="container" id="top" ng-controller="Controller">
      <h1>Admin</h1>
      <!-- <button class="btn" ng-click="toTop()">
        <i class="icon-arrow-up"></i>top
      </button> -->
      
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Server</a></li>
        <li><a href="#tab2" data-toggle="tab">Player</a></li>
      </ul>
      <div class="tab-content">
        
        <!-- server tab -->
        <div class="tab-pane active" id="tab1">
          <div class="row">
            <div class="span2">
              <div class="well affixList" data-spy="affix" data-offset-top="108">
                <ul class="nav nav-list" id="server-tab" ng-hide="page">
                  <li><a href="#top">顶部</a></li>
                  <li><a href="#server-rolling">公告</a></li>
                  <li><a href="#server-exp">全服经验</a></li>
                  <li><a href="#server-item">全服道具</a></li>
                </ul>
              </div>
            </div>

            <div class="span10">
              <section id="server-rolling">
                <div class="page-header">
                  <h2>公告</h2>
                </div>
                <pre>使用换行来分割多条公告</pre>
                <form>
                  <textarea cols="60", rows="10" style="width:98%" ng-model="notification"></textarea><br>
                  <button class="btn btn-primary" ng-click="setNotification()">设置</button>
                </form>
              </section>

              <section id="server-exp">
                <div class="page-header">
                  <h2>全服经验</h2>
                </div>
                <form>
                  <span>Multiplier:{{expMultiplier}}</span>
                  <input type="text" style="width:100px;" ng-model="expMultiplierInput" pattern="^[0-9]*\.?[0-9]+$" placeholder="exp multiplier">
                  <button class="btn btn-primary" ng-click="setExpMultiplier()">立即设置</button>
                  <br><br>
                  <table class="table table-striped">
                    <thead>
                      <th>time</th>
                      <th>multiplier</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="evt in expMultiEvents">
                        <td>{{evt.time}}</td>
                        <td>{{evt.multiplier}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <input size="16" type="text" readonly class="form_datetime" ng-model="expMultiplierTimeInput">
                  <input type="text" style="width:100px;" ng-model="expMultiplierNumInput" pattern="^[0-9]*\.?[0-9]+$" placeholder="multiplier">
                  <button class="btn btn-primary" ng-click="addExpMultiplier()">添加变更点</button>
                </form>
              </section>

              <section id="server-item">
                <div class="page-header">
                  <h2>全服道具</h2>
                </div>
                xxbb<br><br>
                xxbb<br><br>
                xxbb<br><br>
                xxbb<br><br>
                xxbb<br><br>
                xxbb<br><br>
              </section>

              <section id="xyz">
                <div class="page-header">
                  <h2>xyz</h2>
                </div>
                xyz<br><br>
                xyzxyz<br><br>
                xyzxyz<br><br>
                xyzxyzxyz<br><br>
                xyzxyzxyz<br><br>
                xyzxyzxyz<br><br>
                xyzxyzxyz<br><br>
                xyzxyzxyz<br><br>
                xyzxyzxyz<br><br>
                xyzxyzxyz<br><br>
                xyzxyzxyz<br><br>
                xyzxyzxyz<br><br>
              </section>

            </div>
          </div>
        </div>

        <!-- player tab -->
        <div class="tab-pane" id="tab2">
          <div class="row">
            <div class="span2">
              <div class="well affixList" data-spy="affix" data-offset-top="108">
                <ul class="nav nav-list" id="server-tab" ng-hide="page">
                  <li><a href="#top">顶部</a></li>
                  <li><a href="#player-set">用户</a></li>
                  <li><a href="#player-item">道具</a></li>
                  <li><a href="#player-card">卡牌信息</a></li>
                  <li><a href="#player-cardform">卡牌设置</a></li>
                </ul>
              </div>
            </div>

            <div class="span10">
              <section id="player-set">
                <div class="page-header">
                  <h2>用户</h2>
                </div>
                Accounts name, id:
                <span class="label label-success">{{playerInfo.name}}, {{playerInfo.userId}}</span><br><br>
                <form>
                  <input type="text" style="width:200px;" ng-model="userNameInput" placeholder="用户帐号">
                  <button class="btn btn-primary" ng-click="getPlayerInfo()">选择用户</button>
                </form>
                <hr>

                <form>
                  开启地图: {{playerInfo.lastZoneId}}
                  <input type="text" style="width:100px;" ng-model="lastZoneId" pattern="[0-9]*" ng-pattern="/[0-9]*/" placeholder="zone id">
                  <button class="btn btn-primary" ng-click="setLastZoneId()">设置</button>
                </form>
                <form>
                  包裹最大数量: {{playerInfo.maxCardNum}}
                  <input type="text" style="width:100px;" ng-model="maxCardNum" pattern="[0-9]*" placeholder="max card number">
                  <button class="btn btn-primary" ng-click="setMaxCardNum()">设置</button>
                </form>
                <form>
                  日交易最大数量: {{playerInfo.maxTradeNum}}
                  <input type="text" style="width:100px;" ng-model="maxTradeNum" pattern="[0-9]*" placeholder="max trade number">
                  <button class="btn btn-primary" ng-click="setMaxTradeNum()">设置</button>
                </form>
                <form>
                  开启阵形: {{playerInfo.lastFormation}}
                  <input type="text" style="width:100px;" ng-model="lastFormation" pattern="[0-9]*" placeholder="formation id">
                  <button class="btn btn-primary" ng-click="setLastFormation()">设置</button>
                </form>
                <form>
                  钱: {{playerInfo.money}}
                  <input type="text" style="width:100px;" ng-model="money" pattern="[0-9]*" placeholder="money">
                  <button class="btn btn-primary" ng-click="setMoney()">设置</button>
                </form>
                <form>
                  AP: {{playerInfo.ap}}/{{playerInfo.maxAp}}
                  <input type="text" style="width:100px;" ng-model="ap" pattern="[0-9]*" placeholder="current">
                  <input type="text" style="width:100px;" ng-model="maxAp" pattern="[0-9]*" placeholder="max">
                  <button class="btn btn-primary" ng-click="setAp()">设置</button>
                </form>
                <form>
                  XP: {{playerInfo.xp}}/{{playerInfo.maxXp}}
                  <input type="text" style="width:100px;" ng-model="xp" pattern="[0-9]*" placeholder="current">
                  <input type="text" style="width:100px;" ng-model="maxXp" pattern="[0-9]*" placeholder="max">
                  <button class="btn btn-primary" ng-click="setXp()">设置</button>
                </form>

              </session>

              <section id="player-item">
                <div class="page-header">
                  <h2>道具</h2>
                </div>
                <span>{{playerInfo.items}}</span><br><br>
                <form>
                  <input type="text" style="width:100px;" pattern="[0-9]*" placeholder="id" ng-model="itemIdInput">
                  <input type="text" style="width:100px;" pattern="[0-9]*" placeholder="数量" ng-model="itemNumInput">
                  <button class="btn btn-primary" ng-click="setItem()">设置</button>
                </form>
              </section>

              <section id="player-card">
                <div class="page-header">
                  <h2>卡牌</h2>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      卡牌信息
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>level</th>
                            <th>rarity</th>
                            <th>evolution</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="card in cards">
                            <th>{{card.id}}</th>
                            <th>{{card.name}}</th>
                            <th>{{card.level}}</th>
                            <th>{{card.rarity}}</th>
                            <th>{{card.evolution}}</th>
                          </tr>
                        </tbody>
                        <thead>
                          <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>level</th>
                            <th>rarity</th>
                            <th>evolution</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>

                <br id="player-cardform">
                <form>
                  <input type="text" style="width:100px;" pattern="[0-9]*" placeholder="prototype id" ng-model="addCardProto">
                  <input type="text" style="width:100px;" pattern="[0-9]*" placeholder="level" ng-model="addCardLevel">
                  <button class="btn btn-primary" ng-click="addCard()">送卡</button>
                </form>
                <form>
                  <input type="text" style="width:100px;" pattern="[0-9]*" placeholder="card id" ng-model="setCardLevelId">
                  <input type="text" style="width:100px;" pattern="[0-9]*" placeholder="level" ng-model="setCardLevelLevel">
                  <button class="btn btn-primary" ng-click="setCardLevel()">设置等级</button>
                </form>
                <form>
                  <input type="text" style="width:100px;" pattern="[0-9]*" placeholder="card id" ng-model="setCardSkillId">
                  <input type="text" style="width:100px;" pattern="[0-9]*" placeholder="skill index(1-3)" ng-model="setCardSkillIndex">
                  <input type="text" style="width:100px;" pattern="[0-9]*" placeholder="skill level" ng-model="setCardSkillLevel">
                  <button class="btn btn-primary" ng-click="setCardSkill()">设置技能等级</button>
                </form>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="util.js"></script>
    <script src="admin.js"></script>

  </body>
</html>
