<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datetimepicker.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>

    <style type="text/css">

      input[type="text"],
      input[type="datetime"] {
        margin-bottom: 0px;
      }

      .affixList {
        top: 0px;
        width: 100px;
        margin-top:30px;
      }

      .page-header {
        padding-bottom: 0px;
        margin: 20px 0 20px;
        border-top: 1px solid #eee;
        border-bottom: 0px solid #eee;
      }

    </style>
  </head>

  <body>
    <div class="container" id="top" ng-controller="Controller">
      <h1>Leaderboards</h1>
      
      <div class="row">
        <div class="span2">
          <div class="well affixList" data-spy="affix" data-offset-top="60">
            <ul class="nav nav-list" id="server-tab" ng-hide="page">
              <li><a href="#top">顶部</a></li>
            </ul>
          </div>
        </div>

        <div class="span10">
          <section id="server-rolling">
            <div class="page-header">
              <h2></h2>
            </div>
            
            <div class="well">
              Begin time:
              <input type="text" value="2013-08-06 09:05:17" id="begintime" class="form_datetime" style="width: 140px">
              &nbsp;&nbsp;&nbsp;
              End time:
              <input type="text" value="2014-08-10 16:30:17" id="endtime" class="form_datetime" style="width: 140px">
              &nbsp;&nbsp;&nbsp;<br><br>
              Key:
              <input type="text" ng-model="key" style="width: 100px">
              &nbsp;&nbsp;&nbsp;
              Order:
              <input type="text" ng-model="order" style="width: 70px">
              &nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary" ng-click="create()">Create</button>
            </div>

            <div class="accordion-group">
              <table class="table table-striped">
                <thead>
                  <th>key</th>
                  <th>begintime</th>
                  <th>endtime</th>
                  <th>score order</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr ng-repeat="l in leaderboards">
                    <td>{{l.key}}</td>
                    <td>{{l.begintime}}</td>
                    <td>{{l.endtime}}</td>
                    <td>{{l.order}}</td>
                    <td><button class="btn btn-primary" ng-click="view(l.key)">View</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </section>

        </div>
          </div>
    </div> <!-- /container -->

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="util.js"></script>
    <script src="leaderboard.js"></script>

  </body>
</html>
