<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PVP</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datetimepicker.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>

    <style type="text/css">
      input[type="text"],
      input[type="datetime"] {
        margin-bottom: 0px;
      }

      .affixList {
        top: 0px;
        width: 100px;
        margin-top:30px;
      }

      .page-header {
        padding-bottom: 0px;
        margin: 20px 0 20px;
        border-top: 1px solid #eee;
        border-bottom: 0px solid #eee;
      }

    </style>
  </head>

  <body ng-app>
    <div class="container" id="top" ng-controller="Controller">
      <h1>PVP</h1>
      
      <div class="row">
        <div class="span2">
          <div class="well affixList" data-spy="affix" data-offset-top="60">
            <ul class="nav nav-list" id="server-tab" ng-hide="page">
              <li><a href="#top">顶部</a></li>
            </ul>
          </div>
        </div>

        <div class="span10">
          <section id="server-rolling">
            <div class="page-header">
              <h2>战等排名</h2>
            </div>
            <form>
              (HP+ATK+DEF+WIS+AGI) + (price*skillRaritySum) * 
              <input type="text" style="width:80px;" ng-model="formula.priceSkillMul" pattern="^[0-9]*\.?[0-9]+$" placeholder="multiplier">
              <button class="btn btn-primary" ng-click="createTestData()">重新计算排名表</button>
              <br><br>
              <input type="text" style="width:60px;" ng-model="card1" pattern="[0-9]*" placeholder="card1">
              <input type="text" style="width:60px;" ng-model="card2" pattern="[0-9]*" placeholder="card2">
              <input type="text" style="width:60px;" ng-model="card3" pattern="[0-9]*" placeholder="card3">
              <input type="text" style="width:60px;" ng-model="card4" pattern="[0-9]*" placeholder="card4">
              <input type="text" style="width:60px;" ng-model="card5" pattern="[0-9]*" placeholder="card5">
              &nbsp;&nbsp;&nbsp;
              <input type="text" style="width:60px;" ng-model="matchNo" pattern="[0-9]*" placeholder="match No.">
              <button class="btn btn-primary" ng-click="pvpMatch()">匹配</button>
              <br><br>
              
            </form>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseA">
                  matched bands
                </a>
              </div>
              <div id="collapseA" class="accordion-body collapse">
                <div class="accordion-inner">
                  <pre>{{ matchedBands | json }}</pre>
                </div>
              </div>
            </div>

            
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  pvp ranks
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  <table class="table table-striped">
                    <thead>
                      <th>rank</th>
                      <th>id</th>
                      <th>name</th>
                      <th>score</th>
                      <th>maxhp</th>
                      <th>maxatk</th>
                      <th>maxdef</th>
                      <th>maxwis</th>
                      <th>maxagi</th>
                      <th>price</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="rank in ranks">
                        <td>{{rank.index}}</td>
                        <td>{{rank.id}}</td>
                        <td>{{rank.name}}</td>
                        <td>{{rank.score}}</td>
                        <td>{{rank.maxhp}}</td>
                        <td>{{rank.maxatk}}</td>
                        <td>{{rank.maxdef}}</td>
                        <td>{{rank.maxwis}}</td>
                        <td>{{rank.maxagi}}</td>
                        <td>{{rank.price}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
          </section>

        </div>
          </div>
    </div> <!-- /container -->

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="util.js"></script>
    <script src="pvp.js"></script>

  </body>
</html>
